.achievement {
    background: linear-gradient(135deg, #8ba3f8 0%, #9f78f8 100%);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    width: 350px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
}
.achievement:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}
.achievement:hover .glass {
   transform: rotateZ(45deg) translateX(420px) translateY(-215px);
}
.achievement .achievement-image {
    height: 60px;
    width: 300px;
    border-radius: 5px;
    display: block;
    padding-left: 50%;
}

.glass {
   position: absolute;
   transition: transform 0.5s ease-in-out;
   left: 0;
   z-index: 10;
   transform: rotateZ(45deg) translateX(-510px) translateY(-215px);
   width: 50%;
   height: 300%;
   background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 100%);
}

.achievement .achievement-image img{
    width: 100%;
    height: 100%;
    position: relative;
    right: 50%;
}

.achievement .achievement-details{
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.achievement .achievement-name{
    font-weight: 700;
    padding: 5px 0;
}

.achievement .achievement-level{
    padding: 5px 0;
}

.achievement .achievement-date{
    padding: 5px 0 10px 0;
}

.achievement-level-1:hover {
    transform: translateY(0);
}

.achievement-level-0 {
    filter: grayscale(100%);
}

.achievement-level-0:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(0);
}

.achievement-progress{
    height: 20px;
    position: relative;
    border-radius: 3px;
    margin: 0 20px;
    text-align: center;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
}
.percent {
    padding-top: 1px;
}

.percent-indicator {
    display: inline-block;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    border-radius: 3px;
}