html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

header{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: white;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
}

.chanel{
    text-decoration: none;
}

.chanel:visited {
    color: white;
}

.main-content{
    margin: 10px;
    overflow: auto;
}

.table{
    border-collapse: collapse;
}

.table th {
    background-color: #9aaacb;
    padding: 4px;
}

.table td {
    border: 1px solid #eeeeee;
    padding: 3px;
    text-align: right;
}

.table tr:hover td{
    background-color: #eeeefe;
}

.table td:first-child{
    background-color: #eeeeee;
    text-align: left;
}

.last-achievements{
    display: inline-block;
    vertical-align: top;
}

.all-achievements{
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.all-achievements .table tr td:last-child{
    text-align: center;
}

.counters {
    display: inline-block;
}

.counters .table tr:first-child td{
    background-color: #dddddd;
    border-color: #dddddd;
}

.since {
    text-align: center;
    font-style: italic;
}

.octocat{
    height: 100%;
    position: absolute;
    right: 10px;
    box-sizing: border-box;
    padding: 5px;
}

@media screen and (min-width: 768px){
    header {
        height: 60px;
        line-height: 60px;
    }
    body{
        font-size: 1.8em;
    }
    .last-achievements {
        display: block;
    }
    .last-achievements .table {
        width: 100%;
    }
    .all-achievements {
        display: block;
    }
    .all-achievements .table {
        width: 100%;
    }
    .counters {
        width: 100%;
        overflow: auto;
    }
    .counters .table {
        width: 100%;
    }
}