html, body{
}

.table{
    border-collapse: collapse;
}

.table th {
    background-color: wheat;
    padding: 4px;
}

.table td {
    border: 1px solid #eeeeee;
    padding: 3px;
    text-align: right;
}

.table tr:hover td{
    background-color: #eeeefe;
}

.table td:first-child{
    background-color: #eeeeee;
    text-align: left;
}

.last-achievements{
    display: inline-block;
    vertical-align: top;
}

.counters {
    display: inline-block;
}

.counters .table tr:last-child td{
    background-color: aliceblue;
}