.username {
    padding: 0 0 10px 0;
    font-size: 1.3em;
}

.user-stats {
    border-collapse: collapse;
    text-align: center;
}

.user-stats th {
    padding: 5px;
    background-color: #eeeeee;
}

.user-stats td {
    border: 1px solid #eeeeee;
    padding: 5px;
}