.username {
    padding: 0 0 10px 0;
    font-size: 1.3em;
}

.user-stats {
    text-align: center;
}

.user-stats td:first-child{
    font-weight: 700;
    text-align: left;
}

.user-stats-wrapper {
    width: 100%;
}

.user-achievements {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.user-achievements:after {
   content: ' '; 
   display: block;
   flex: 1.07;
   height: 1px;
   min-width: 328px;
}

.main-content {
    box-sizing: border-box;
    overflow: hidden;
}

.column-wrapper-profile .right-column {
   padding-top: 35px;    
   box-sizing: border-box;
}

.column-wrapper-profile .right-column h1 {
   margin-bottom: 17px;
}

.main-content .achievement {
   min-width: 328px;
   flex: 1;
}