<table class="table">
    <thead>
        <th>User</th>
        <th>Achievement</th>
        <th>Lvl</th>
        <th>Date</th>
    </thead>
    {% for achievement in achievements_list %}
        <tr>
            <td>
                {% with user=achievement.user %}
                    {%  include 'user_link.html' %}
                {%  endwith %}
            </td>
            <td>{{achievement.achievement.name}}</td>
            <td>{{achievement.level}}</td>
            <td>{{achievement.date_achieved.strftime('%d.%m.%y %-H:%M')}}</td>
        </tr>
    {% endfor %}
</table>