<table class="table">
    <thead>
        <th>#</th>
        <th>User</th>
        <th>Messages</th>
        <th>Texts</th>
        <th>Stickers</th>
        <th>Photos</th>
        <th>Videos</th>
        <th>Documents</th>
        <th>Audios</th>
        <th>Voices</th>
        <th>Locations</th>
        <th>Games</th>
        <th>Replies</th>
        <th>Avg. msg len.</th>
        <th>Sum msg len.</th>
    </thead>
    <tr>
        <td></td>
        <td>Total: {{ total.user }}</td>
        <td>{{ total.messages }}</td>
        <td>{{ total.text }}</td>
        <td>{{ total.sticker }}</td>
        <td>{{ total.photo }}</td>
        <td>{{ total.video }}</td>
        <td>{{ total.document }}</td>
        <td>{{ total.audio }}</td>
        <td>{{ total.voice }}</td>
        <td>{{ total.location }}</td>
        <td>{{ total.game }}</td>
        <td>{{ total.reply_to_message }}</td>
        <td>{{ total.average_msg_length }}</td>
        <td>{{ total.sum_message_length }}</td>
    </tr>
    {% for counter in counters_list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                {% with user=counter.user %}
                    {%  include 'user_link.html' %}
                {%  endwith %}
            </td>
            <td>{{ counter.messages }}</td>
            <td>{{ counter.text }}</td>
            <td>{{ counter.sticker }}</td>
            <td>{{ counter.photo }}</td>
            <td>{{ counter.video }}</td>
            <td>{{ counter.document }}</td>
            <td>{{ counter.audio }}</td>
            <td>{{ counter.voice }}</td>
            <td>{{ counter.location }}</td>
            <td>{{ counter.game }}</td>
            <td>{{ counter.reply_to_message }}</td>
            <td>{{ counter.average_msg_length }}</td>
            <td>{{ counter.sum_message_length }}</td>
        </tr>
    {% endfor %}
</table>
