{% extends "base.html" %}
{% block extrahead %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='achievement.css') }}">
{% endblock %}
{% block content%}
    <div class="column-wrapper">
        <div class="left-column">
            <div class="last-achievements">
                <h3>Last achievements</h3>
                {% include "achievements.html" %}
            </div>
            <div class="top-users">
                <h3>Top users</h3>
                <table class="table">
                    <thead>
                        <th>User</th>
                        <th>Achievements</th>
                        <th>Messages</th>
                    </thead>
                    {% for user in top_users %}
                        <tr>
                            <td>
                               {% with user=user.user %}
                                    {%  include 'user_link.html' %}
                                {%  endwith %}
                            </td>
                            <td>{{user.number_of_achievements}}</td>
                            <td>{{user.counters.messages}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="all-achievements right-column">
            <h3>Achievements ({{ received_achievements|length }}/{{ achievements_count }})</h3>
            <table class="table">
                <thead>
                    <th>Achievement</th>
                    <th>Times received</th>
                </thead>
                {% for achievement in received_achievements %}
                    <tr>
                        <td>
                            <a href="{{ url_for('achievement_detail', achievement_id=achievement.achievement.id) }}">
                                {{achievement.achievement.name}}
                            </a>
                        </td>
                        <td>{{achievement.times_received}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    <h3 class="stat-title">Statistics</h3><a href="/counters/" class="stat-link">see all</a>
    <div class="counters">
        {% include "counters.html" %}
    </div>
    <div class="since">
        <div class="footer">                
            <a href="/counters/" class="stat-link">see all</a>
            <span>since 28.11.2016</span>
        </div>
    </div>
{% endblock%}