{% extends "base.html" %}
{% block extrahead %}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stats.css') }}">
    <script>
        var dailyMessages = {{ daily.messages|safe }};
        var dailyUsers = {{ daily.users|safe }};
        var monthlyMessages = {{ monthly.messages|safe }};
        var monthlyUsers = {{ monthly.users|safe }};
        var lastDay = {{ last_day }}

        function clearData(array) {
            for (let i=array.length - 1; i > 0; i--) {
                if (array[i] == 0) {
                    array[i] = null;
                } else {
                    break;
                }
            }
        }
        clearData(dailyMessages);
        clearData(monthlyMessages);

        let date = new Date();
        let day = date.getUTCDate();
        let hour = date.getHours();

        if (dailyMessages[hour] === null) {
            dailyMessages[hour] = 0;
        }
        if (monthlyMessages[day] === null) {
            dailyMessages[day] = 0;
        }

    </script>
{% endblock %}
{% block content%}
    <div id="dailyMessages" class="chart"></div>
    <div id="monthlyMessages" class="chart"></div>
    <div id="dailyUsers" class="chart"></div>
    <div id="monthlyUsers" class="chart"></div>
{% endblock%}